<div class="fluid-container">
  <div class="jumbotron">
    <div class="container mt-3">
      <h2>Our Team</h2>
      <div class="media border p-3">
        <img src="../../assets/images/img_avatar3.png" alt="Sandman" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Sandman</h4>
          <p>Team Lead @ <span style="color:crimson">Ghost Organization</span><br>
            Sandman@ghost.com
          </p>   
        </div>
      </div>
    </div>

    <div class="container mt-3">
        <div class="media border p-3">
          <img src="../../assets/images/img_avatar3.png" alt="Mehran" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>Mehran Sajid</h4>
            <p>Angular Developer @ <span style="color:crimson">Ghost Organization</span><br>
              bscs.f16.m.02@gmail.com
            </p>      
          </div>
        </div>
      </div>
  </div>
  <footer class="text-center bg-dark text-danger font-italic "> &copy; 2019 Sandman All Rights Reserved </footer>
</div>