@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.bg-success {
    background: rgb(0.255.0) !important;
}

a {
    text-decoration: none;
    color: white;
    width: 120px;
    text-align: center;
}

a:hover {
    background-color: darkgreen;
}


body {
    font-family: "Roboto", sans-serif;
}
