<body>
  <div class="fluid-container" id="container">
    <div class="jumbotron">
      <div class="container mt-3">
        <div class="media border p-3">
          <img src="../../assets/images/sa.png" alt="S!l3nt"  class="rounded" width="90px">
          <div class="media-body">
            <h4>Mr. S!l3nt</h4>
            <p>Android Developer @ <span style="color:crimson">PUJC Software House</span><br>
              00923006637201<br>
              shamshair.ali145@gmail.com
            </p>   
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron">
        <div class="container mt-3">
          <div class="media border p-3">
            <img src="../../assets/images/asad.jpg" alt="Asad"  class="rounded" width="90px">
            <div class="media-body">
              <h4>Asad Mehmood</h4>
              <p>Creative Designer @ <span style="color:crimson">PUJC Software House</span><br>
                00923025844957<br>
                bscsf16.31@gmail.com
              </p>   
            </div>
          </div>
        </div>
      </div>
  </div>
</body>