<body>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/cr1.jpg" alt="Los Angeles" width="1100" height="500" >
      <div class="carousel-caption">
        <h3>I don't meet the competiton, I destroy it</h3>
        <!-- <p>Once Upon A Time !</p> -->
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/images/cr2.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>You can't always be the most Talented in the room-but you can be the most competitive.</h3>
        <!-- <p>The Two Thrones</p> -->
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/images/cr3.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Every beginner possesses a great potential to be an expert in his or her chosen field.</h3>
        <!-- <p>The Agent is back.. !</p> -->
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="fluid-container" id="container">
    <div class="jumbotron">
      <div class="container mt-3">
        <div class="media border p-3">
          <a routerLink="../join">
            <img src="../../assets/images/join.png" alt="Join Now"  class="rounded-circle" width="110px">
          </a>
          <div class="media-body">
            <h4 class="text-info">Announcements</h4>
            <p>Get yourself register And <span style="color:crimson">Enjoy free courses</span>
            </p>   
          </div>
        </div>
      </div>
    </div>
  </div>
</body>